.righteous{ font-family: 'Righteous', cursive; }
.spicyRice{ font-family: 'Spicy Rice', cursive; }
.pacifico{ font-family: 'Pacifico', cursive; }
.acme{ font-family: 'Acme', sans-serif; }
.permanentMarker{ font-family: 'Permanent Marker', cursive; }
.courgette{ font-family: 'Courgette', cursive; }
.alfaSlabOne{ font-family: 'Alfa Slab One', cursive; }
.fredokaOne{ font-family: 'Fredoka One', cursive; }
.luckiestGuy{ font-family: 'Luckiest Guy', cursive; }
.merienda{ font-family: 'Merienda', cursive; }
.caveatBrush{ font-family: 'Caveat Brush', cursive; }
.carterOne{ font-family: 'Carter One', cursive; }
.titanOne{ font-family: 'Titan One', cursive; }
.knewave{ font-family: 'Knewave', cursive; }
.candal{ font-family: 'Candal', sans-serif; }
.newRocker{ font-family: 'New Rocker', cursive; }
.baloo{ font-family: 'Baloo', cursive; }
.berkshireSwash{ font-family: 'Berkshire Swash', cursive; }
.shrikhand{ font-family: 'Shrikhand', cursive; }
