#randomHero, #chooseHero{
  width: 25%;
  height: 15%;
  color: white;
  font-size: 200%;
}

#randomHero{
  background-color: blue;
  margin-left: 20%;
}

#chooseHero{
  background-color: crimson;
  float: right;
  margin-right: 20%;
}
