//style dla przycisków tworzenia postaci: losowo oraz "ręcznie"
#randomHero, #chooseHero{ width: 25%; height: 90%; color: white; font-size: 200%; text-shadow: 1px 1px black; }

#randomHero{ background-color: #0000ff; margin-left: 20%; }
#randomHero:active{ animation: animRandomHero 0.25s linear; animation-fill-mode: forwards; }
@keyframes animRandomHero{
  0%{ box-shadow: inset 0 0 0 black; background-color: #0000ff; }
  100%{ box-shadow: inset 0 0 20px black; background-color: #a8a8ff; color: black; text-shadow: 1px 1px white; }
}

#chooseHero{ background-color: #cc0000; float: right; margin-right: 20%; }
#chooseHero:active{ animation: animChooseHero 0.25s linear; animation-fill-mode: forwards;  }
@keyframes animChooseHero{
  0%{ box-shadow: inset 0 0 0 black; background-color: #cc0000; }
  100%{ box-shadow: inset 0 0 20px black; background-color: #ff6b6b; color: black; text-shadow: 1px 1px white; }
}

#randomHero:focus, #chooseHero:focus{ outline: none; }

//style dla wyników tworzenia postaci
#heroResults{
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


  p:first-child{
    font-size: 250%;
    text-decoration: underline;
    text-decoration-color: gold;
    width: 100%;
  }

  p:nth-child(2), p:nth-child(3), p:nth-child(4), p:nth-child(5){
    width: 24%;
    margin-top: 1%;
    font-size: 125%;
  }

  p:nth-child(6), p:nth-child(7), p:nth-child(8), p:nth-child(9), p:nth-child(10){
    width: 19%;
    margin-top: 2%;
    font-size: 125%;
  }

  p:nth-child(11), p:nth-child(12), p:nth-child(13), p:nth-child(14), p:nth-child(15), p:nth-child(16){
    width: 24%;
    margin-top: 2%;
    font-size: 125%;
  }

  p:nth-child(17), p:nth-child(18){
    width: 100%;
    margin-top: 2%;
    font-size: 125%;
  }


}
