@import "fonts";
@import "firstIntro";
@import "firstMenu";
@import "heroCreator";

//reset
*{ margin: 0; padding: 0; }

html, body { width: 100%; height: 100%; }

//ustawienie koloru tła dla pierwszego intra gry
body{ background-color: lightgray; }

//ustawienie wysokoci i szerokości dla poszczególnych części strony (gry)
header, footer{ width: 100%; height: 10vh; }
nav{ width: 100%; height: 15vh; }
#alerts{ width: 100%; height: 5vh; }
#mainPart{ width: 90%; height: 60vh; margin: 0 auto; }
footer{ display: flex; justify-content: space-between; }

//style dla tytułu gry w nagłówku
header{
  text-align: center;

  span:first-child{
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
    -webkit-text-fill-color: #800000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  span:last-child{
        font-size: 150%;
        font-style: italic;
        font-weight: bold;
        -webkit-text-fill-color: #808000;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
  }
}

//style dla stopki
#version{
  font-size: 125%;
  font-weight: bold;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

//style dla przycisków w cześci o id heroBtns
#heroBtns{
  display: flex;
  justify-content: space-around;
}

//style dla tekstu w części o id mainPart
.standardText{
  text-indent: 5%;
  font-weight: bold;
  font-size: 150%;
  text-shadow: 1px 1px white;
}

//kolory tekstu zielony, czerwony
.greenText{
  color: green;
  text-shadow: 0 0 2px green;
}

.redText{
  color: red;
  text-shadow: 0 0 2px red;
}

//style dla info gry
.gameInfo{
  width: 50px;
  height: 50px;
  background-color: #0099ff;
  color: white;
  text-shadow: 1px 1px black;
  border-radius: 50%;
}

#gameInfo:active{
  animation: animGameInfo 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes animGameInfo{
  0%{ box-shadow: inset 0 0 0 black; background-color: #0099ff; }
  100%{ box-shadow: inset 0 0 20px black; background-color: #b3e0ff; color: black; text-shadow: 1px 1px white; }
}

#gameInfo:focus{ outline: none; }

.gameInfoResult{
  width: 90%;
  height: 500px;
  z-index: 50;
  top: -5px;
  margin-top: 5%;
  background: #8FBC8F;
  position: absolute;
  box-shadow:  0 0 20px black;

  button:first-child{
    background: radial-gradient( circle at top left, white 5%, red 95%);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -1% 0 0 99%;

    div:first-child{
      width: 5px;
      height: 17px;
      background-color: white;
      transform: rotate(45deg);
      border-radius: 10px;
    }

    div:last-child{
      width: 5px;
      height: 17px;
      margin-left: -5px;
      background-color: white;
      transform: rotate(-45deg);
      border-radius: 10px;
    }
  }

  button:first-child:active{
    animation-name: animClose;
    animation-duration: 0.5s;

    @keyframes animClose{
      from {}
      to {transform: scale(0.5, 0.5);}
    }
  }

  button:focus{
    outline: none;
  }
}

//style dla rozwijalnego menu w oknie info
  /* ------------------------CZĘŚĆ-GÓRNA-MENU------------------------ */
/* wygląd głównego elementu - ol */
     ol {
       list-style-type:none;
       padding:0;
       margin:0;
       background-color:#FFF;
       font-size:18px;
       height:2em;
       line-height:2em;
       text-align:center;

       li {
               float:left;
               width:150px;
               margin-left:1px;
               background-color:#FDD700;
               height:2em;
             }

    li:first-child {
        margin-left:0;
      }

      li:hover {
        background-color:#EEE;
      }


      li:hover {
        ul {
                display:block;
              }
      }
  }


/* ------------------------CZĘŚĆ-ROZWIJANA-MENU------------------------ */

/* wygląd głównych rozwijanych elementów - ul */
ol{
  li{
    ul {
      display:none;
      list-style-type:none;
      padding:0;
      margin:0;
      /* wygląd elementu - li - w części rozwijanej */
   li {
        position:relative;
        background-color:#EEE;
      }

      li:hover {
        background-color:#DDD;
      }

    }
  }
}
